<h1>Listing pricing_types</h1>

<table>
  <tr>
    <th>Pricing type</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @pricing_types.each do |pricing_type| %>
  <tr>
    <td><%= pricing_type.pricing_type %></td>
    <td><%= pricing_type.description %></td>
    <td><%= link_to 'Show', pricing_type %></td>
    <td><%= link_to 'Edit', edit_pricing_type_path(pricing_type) %></td>
    <td><%= link_to 'Destroy', pricing_type, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Pricing type', new_pricing_type_path %>
