<h1>Listing races</h1>

<table>
  <tr>
    <th>event_id</th>
    <th>sport_id</th>
    <th>age_group_category_id</th>
    <th>name</th>
    <th>starts_at</th>
    <th>description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @races.each do |race| %>
  <tr>
    <td><%= race.event_id %></td>
    <td><%= race.sport_id %></td>
    <td><%= race.age_group_category_id %></td>
    <td><%= race.name %></td>
    <td><%= race.starts_at %></td>
    <td><%= race.description %></td>

     <td><%= link_to 'Show', race %></td>
    <td><%= link_to 'Edit', edit_race_path(race) %></td>
    <td><%= link_to 'Destroy', race, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Race', new_race_path %>
