<p id="notice"><%= notice %></p>

<p>
  <b>age_group_category_id:</b>
  <%= @age_group_detail.age_group_category_id %>
</p>

<p>
  <b>gender:</b>
  <%= @age_group_detail.gender %>
</p>

<p>
  <b>min_age:</b>
  <%= @age_group_detail.min_age %>
</p>

<p>
  <b>max_age:</b>
  <%= @age_group_detail.max_age %>
</p>
<p>
  <b>comments:</b>
  <%= @age_group_detail.comments %>
</p>
<%= link_to 'Edit', edit_age_group_detail_path(@age_group_detail) %> |
<%= link_to 'Back', age_group_details_path %>
