<h1>Listing age_group_categories</h1>

<table>
  <tr>
    <th>name:</th>
    <th>description:</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @age_group_categories.each do |age_group_category| %>
  <tr>
    <td><%= age_group_category.name %></td>
    <td><%= age_group_category.description %></td>
    <td><%= link_to 'Show', age_group_category %></td>
    <td><%= link_to 'Edit', edit_age_group_category_path(age_group_category) %></td>
    <td><%= link_to 'Destroy', age_group_category, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Age group category', new_age_group_category_path %>
